<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noteapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteApp">
        <activity
            android:name=".activities.EditNoteActivity"
            android:label="Edit note"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".activities.UserActivity"
            android:label="Log in" />
        <activity
            android:name=".activities.NewNoteActivity"
            android:label="Create a new note" />
        <activity
            android:name=".activities.ListNotesActivity"
            android:label="All notes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>